.head-2-head {
    width: 100%;
    margin-top: 100px;
    background: #ebebeb;
    padding: 10px;

    .row {
        margin-top: 25px;
    }

    .title {
        margin: 0;
        font-size: 0.8em;
    }
}