.title {
    font-family: Lato;
    color: #666;
    padding: 10px;
    text-align: center;
}

.subtitle {
    font-size: 18px;
    text-align: center;
    color: #aaa;
}

.title + .subtitle {
    margin-top: -20px;
}

.results {
    background: #d6d6d6;
    border: 1px solid #9a9a9a;
    padding: 25px;
}