<div class="loading-icon">
    <div id="" class="loading-icon-item loading-icon-item-1"></div>
    <div class="loading-icon-item loading-icon-item-2"></div>
    <div class="loading-icon-item loading-icon-item-3"></div>
    <div class="loading-icon-item loading-icon-item-4"></div>
    <div class="loading-icon-item loading-icon-item-5"></div>
    <div class="loading-icon-item loading-icon-item-6"></div>
    <div class="loading-icon-item loading-icon-item-7"></div>
    <div class="loading-icon-item loading-icon-item-8"></div>
</div>
