    <form method="get">
        <div class="form-group compare-repositories-container">
            <div class="repository-container">
                <input type="text" class="repository"
                       [class.ng-invalid]="repository1Error"
                       [class.ng-valid]="!repository1Error"
                       placeholder="Enter a github repository name"
                       name="repository1"
                       repository-name
                       required

                       [(ngModel)]="repo1"
                />
                <div class="error" *ngIf="repository1Error">{{messages[repository1Error]}}</div>
            </div>
            <div class="vs">vs</div>
            <div class="repository-container">
                <input type="text" class="repository"
                       placeholder="Enter a github repository name"
                       [class.ng-invalid]="repository2Error"
                       [class.ng-valid]="!repository2Error"
                       name="repository2"
                       required
                       [(ngModel)]="repo2"
                />
                <div class="error" *ngIf="repository2Error">{{messages[repository2Error]}}</div>
            </div>
        </div>
        <div class="form-group">
            <div class="col-md-6 col-md-offset-5">
                <button type="submit" value="Compare" class="btn btn-primary"
                        (click)="compare(repo1, repo2)"
                        [disabled]="formSubmitted"
                        [class.disabled]="formSubmitted"
                >Compare
                </button>
            </div>
        </div>
    </form>
