    <form method="get" [formGroup]="form" (ngSubmit)="onSubmit()">
        <div class="form-group compare-repositories-container">
            <div class="repository-container">
                <input type="text" class="repository"
                       [class.ng-invalid]="formErrors.repository1"
                       [class.ng-valid]="!formErrors.repository1"
                       placeholder="i.e angular/angular"
                       name="repository1"
                       formControlName="repository1"
                       autocomplete="off"
                       required
                       [class.ng-invalid]="formErrors.repository1"
                       [class.ng-valid]="!formErrors.repository1"
                />
                <div class="error" *ngIf="formErrors.repository1">{{formErrors.repository1}}</div>
            </div>
            <div class="vs">vs</div>
            <div class="repository-container">
                <input type="text" class="repository"
                       placeholder="i.e facebook/react"
                       name="repository2"
                       autocomplete="off"
                       formControlName="repository2"
                       required
                       [class.ng-invalid]="formErrors.repository2"
                       [class.ng-valid]="!formErrors.repository2"
                />
                <div class="error" *ngIf="formErrors.repository2">{{formErrors.repository2}}</div>
            </div>
        </div>
        <div class="form-group">
            <div class="col-md-12 center">
                <button type="submit" value="Compare" class="btn btn-primary"
                        [disabled]="!form.valid"
                        [class.disabled]="!form.valid"
                        *ngIf="!formSubmitted"
                >Compare
                </button>
                <loading-icon *ngIf="formSubmitted"></loading-icon>
            </div>
        </div>
    </form>
